@model Order
 

<section class="d-flex justify-content-center py-5">
   <div class="row d-flex justify-content-center align-items-center shadow mt-5 pb-5 col-md-8">
      <div class="d-flex justify-content-center align-items-center m-5">
          <h4 class="fw-bold mb-0"><span class="text-decoration-underline mt-3">Your</span> Shopping Cart</h4>
      </div>
      <form class="button-container" metod="post" asp-action="details" novalidate>
      <div class="mx-5">
            @if (Model.OrderRows!.Any())
            {
                @foreach (var item in Model.OrderRows!)
                {

                        <div class="d-flex align-items-center justify-content-between border p-3 m-2 ">
                            <div class="m-2 d-md-flex align-items-center">
                                <img class="me-3 p-1 border" height="60px" src="~/images/products/@item.ImageUrl" alt="@item.ProductName" />
                                <div>
                                    <a class="text-dark" asp-controller="products" asp-action="details" asp-route-id="@item.ProductArticleNumber" ><p class="m-0">@item.ProductName </p></a>
                                    <p class="m-0 d-none d-md-block small">art.nr: @item.ProductArticleNumber</p>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap px-2 align-items-center justify-content-end">
                                <div class="d-lg-flex p-2 ">
                                    <input readonly title="function not implemented" class="input-control product-qty" asp-for="@item.Quantity" value="@item.Quantity" type="number" min="1" max="@item.StockQuantity" />
                                </div>
                                @if (item.Discount > decimal.Zero)
                                {
                                <div>
                                    <p class="text-secondary fw-light m-2 small text-decoration-line-through">
                                        $@(((decimal)item.ProductPrice!).ToString(item.ProductPrice % 1 == 0 ? "F0" : "F2"))
                                    </p>
                                    <p class="fw-bold small m-2">
                                        $@string.Format("{0:F" + (item.ProductPrice % 1 == 0 ? "0" : "2") + "}", (decimal)item.ProductPrice! * item.Discount)
                                    </p>
                                </div>
                                }
                                else
                                {
                                <p class="fw-bold m-2">
                                    $@string.Format("{0:F" + (item.ProductPrice % 1 == 0 ? "0" : "2") + "}", (decimal)item.ProductPrice! * item.Quantity)
                                </p>
                                }
                                <a class="btn btn-secondary p-2 ms-4 my-2 d-flex disabled" title="remove"><i class="fa-regular fa-trash"></i></a>
                            </div>
                        </div>
                }
            }else
            {
                <p class="d-flex justify-content-center">No added products yet.</p>
            }
        </div>
        <div class="d-flex justify-content-end fw-bold px-5 m-3">
                @if (Model!.TotalPrice == null)
                {
                <p>
                    Total Price: $ 0
                </p>

                }
                else
                {
                <p>
                    Total Price: $@(((decimal)Model.TotalPrice!).ToString(Model.TotalPrice % 1 == 0 ? "F0" : "F2"))                    
                </p>
                }
      </div>
      <div class="d-flex justify-content-center">
          <button disabled title="Disabled, function not implemented yet" type="submit" class="btn-theme">Check Out</button>
      </div>
       </form>

   </div>
</section>
