@model Product

<section class="breadcrumb">
    <div class="container">
        <div class="content text-center text-dark">
            <h2>SHOP</h2>
            <ul>
                <li>HOME</li>
                <li>PRODUCTS</li>
                <li>DETAILS</li>
            </ul>
        </div>
    </div>
</section>

<section class="details-container">
    <div class="image-container">
        <img src="Model.ImageUrl" alt="@Model.ProductName"/>            
    </div>
    <div class="product-details">
        <h4 class="title">@Model.ProductName</h4>
        <p class="product-description">@Model.Ingress</p>
        <div>
            <p>Rating: ***** <span>Reviews </span>
            </p>
        </div>
        <p class="product-price">$@Model.Price</p>
        <div class="button-container">
            <div class="quantity-container">
                <button class="btn-outline-white" type="button">-</button>
                <input type="number"  min="1" />
                <button class="btn-outline-white" type="button">+</button>
            </div>
            <button class="btn-theme add-to-cart">
                Add to Cart 
                <i class="add-cart fa-regular fa-cart-plus"></i>
            </button>
        </div>
        <p class="category">Catergory: 
            @foreach (var category in Model.Categories)
            {                    
                @if (Model.Categories.LastOrDefault(category) != category)
                {
                    <span>@category, </span>
                }
                else
                {
                    <span>@category</span>
                }
            }
        </p>
    </div>
    <div>
        <p class="product-description">@Model.Description</p>
    </div>
</section>