@model UpdateRoleViewModel
@{
    Layout = "_BackofficeLayout";
    var users = await userService.GetAllAsync();
    var roles = await userService.GetAllRolesAsync();
}

<section class="breadcrumb">
    <div class="container">
        <div class="content text-center text-dark">
            <h2>BACKOFFICE DASHBOARD</h2>
            <ul>
                <li>ADMIN</li>
            </ul>
        </div>
    </div>
</section>
@if(users != null) 
{       
<section>
    <div class="container">
        <h4 class="my-4"><span class="text-decoration-underline">Update</span> User Role</h4>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <form metod="post" asp-action="index" asp-controller="admin">
            <div class="mb-3">
                <label asp-for="UserId"></label>
                <input asp-for="UserId"/>
                <small><span asp-validation-for="UserId" class="text-danger"></span></small>
            </div>
                <div class="input-group form-inline align-items-center ">
                    <div class="input-group-prepend">
                        <label class="input-group-text" asp-for="Role">Choose Role:</label>
                    </div>
                    <select name="Role" asp-for="Role" class="form-control">
                        @foreach (var role in roles)
                        {
                            @if (role.Name == "admin")
                            {
                                <option value="@role.Name">@role.NormalizedName (have access to back-office)</option>
                            } else
                            {
                                <option value="@role.Name">@role.NormalizedName</option>                                
                            }
                        }
                    </select>
                    <button class="btn-theme" type="submit">Change Role</button>
                </div>
        </form>
    </div>
    <div class="m-5">
        <h4>Users:</h4>
            <table class="table shadow mb-5">
            <thead class="table-dark">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">Role</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var user in users)
                    {
                        @if(await userManager.IsInRoleAsync(user, "admin") )
                        {
                            <tr class="table-secondary">
                            <th scope="row">@user.Id</th>
                            <td>Admin</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            </tr>                    
                        }
                        else if (await userManager.IsInRoleAsync(user, "user"))
                        {
                            <tr>
                            <th scope="row">@user.Id</th>
                            <td>User</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            </tr>
                        }
                    }
            </tbody>
        </table>
            <div class="mb-5">
                <a class="btn-theme text-decoration-none d-flex justify-content-between justify-content-xl-start" asp-action="products" asp-controller="admin">Add Products <span class="ps-5 arrow-animation">------------------></span></a>
            </div>
    </div>
</section>
}

