@model ProfileViewModel

<section class="breadcrumb">
    <div class="container">
        <div class="content text-center text-dark">
            <h2>ACCOUNT</h2>
            <ul>
                <li>HOME</li>
                <li>ACCOUNT</li>
            </ul>
        </div>
    </div>
</section>

<section class="profile-info">
    <div class="mb-5 container col-lg-8">
        <div class="shadow d-md-flex justify-content-between p-4 m-5">
            <div class="m-3">
                <h4 class="mb-4"><span class="text-decoration-underline">Profile</span> Information</h4>
                <p class="mb-0">First Name: <span class="fw-bold">@Model.FirstName</span></p>
                <p class="mb-0">Last Name: <span class="fw-bold">@Model.LastName</span></p>
                @if (Model.PhoneNumber != null)
                {
                    <p class ="mb-0">Phone Number: <span class="fw-bold">@Model.PhoneNumber</span></p>
                }
                @if (Model.Company != null)
                {
                    <p class="mb-0">Company: <span class="fw-bold">@Model.Company</span></p>
                }
                <div>
                    @foreach (var adress in Model.Adresses)
                    {
                        <p>Adress:
                            <span class="fw-bold">@adress.StreetName, </span>
                            <span class="fw-bold">@adress.PostalCode </span>
                            <span class="fw-bold">@adress.City</span>
                        </p>            
                    }
                </div>
            </div>
            @if (Model.ImageUrl != null)
            {
            <div class="m-3 card border shadow" style="max-width: 350px;" >
                    <img class="profile-image" src="~/images/profiles/@Model.ImageUrl" alt="profile-image" />
            </div>
            }
        </div>
    </div>
</section>