
@if (ViewBag.LatestShowcase != null)
{
    <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="ingress">@ViewBag.LatestShowcase.Ingress</div>
                <div class="title">@ViewBag.LatestShowcase.Title</div>
                @if(!string.IsNullOrEmpty(ViewBag.LatestShowcase.LinkUrl) && !string.IsNullOrEmpty(ViewBag.LatestShowcase.LinkText))
                {
                    <a href="@ViewBag.LatestShowcase.LinkUrl" class="btn-theme">@ViewBag.LatestShowcase.LinkText</a> 
                }
            </div>
            <div class="content-image">
                <img src="~/images/products/@ViewBag.LatestShowcase.ImageUrl" alt="@ViewBag.LatestShowcase.Title">
            </div>
        </div>
    </section>
}
